In [20]:
import os 
import json
import pandas as pd
import ast

In [2]:
images = os.listdir('/proj/vondrick4/naveen/coir-data/MSCOCO_5k/images_mscoco_2014_5k_test')

In [3]:
len(images)

5000

In [4]:
df = pd.read_csv('/proj/vondrick4/naveen/coir-data/MSCOCO_5k/test_5k_mscoco_2014.csv')

In [5]:
df.head()

,filepath,sentids,filename,imgid,split,cocoid,tokens,raw,sentid
0,val2014,"[770337, 771687, 772707, 776154, 781998]",COCO_val2014_000000391895.jpg,"[0, 0, 0, 0, 0]",test,391895,"[[""a"", ""man"", ""with"", ""a"", ""red"", ""helmet"", ""o...","[""A man with a red helmet on a small moped on ...","[770337, 771687, 772707, 776154, 781998]"
1,val2014,"[152106, 158205, 160512, 161592, 162963]",COCO_val2014_000000060623.jpg,"[7, 7, 7, 7, 7]",test,60623,"[[""a"", ""young"", ""girl"", ""inhales"", ""with"", ""th...","[""A young girl inhales with the intent of blow...","[152106, 158205, 160512, 161592, 162963]"
2,val2014,"[580656, 581820, 583905, 584211, 590199]",COCO_val2014_000000483108.jpg,"[14, 14, 14, 14, 14]",test,483108,"[[""a"", ""man"", ""on"", ""a"", ""bicycle"", ""riding"", ...","[""A man on a bicycle riding next to a train"", ...","[580656, 581820, 583905, 584211, 590199]"
3,val2014,"[376534, 380344, 381145, 382492, 383869]",COCO_val2014_000000384213.jpg,"[18, 18, 18, 18, 18]",test,384213,"[[""a"", ""kitchen"", ""is"", ""shown"", ""with"", ""a"", ...","[""A kitchen is shown with a variety of items o...","[376534, 380344, 381145, 382492, 383869]"
4,val2014,"[478769, 480356, 480668, 483305, 485087]",COCO_val2014_000000386164.jpg,"[23, 23, 23, 23, 23]",test,386164,"[[""a"", ""wooden"", ""ball"", ""on"", ""top"", ""of"", ""a...","[""A wooden ball on top of a wooden stick."", ""T...","[478769, 480356, 480668, 483305, 485087]"

In [28]:
id_ = 0
processed_data = []

for index, row in df.iterrows():
    temp = {}
    temp['id'] = id_
    id_ += 1

    temp['filename'] = row['filename']
    temp['cocoid'] = row['cocoid']
    temp['raw_text'] = ast.literal_eval(row['raw'])
    temp['sentids'] = ast.literal_eval(row['sentids'])
    processed_data.append(temp)

In [32]:
with open('/proj/vondrick4/naveen/coir-data/MSCOCO_5k/test_5k_mscoco_2014_processed.csv', 'w') as json_file:
    json.dump(processed_data, json_file, indent=4)

In [42]:
id_ = 0
retrieval_data = []

for sample in processed_data:
    temp = {}
    temp['id'] = id_
    id_ += 1

    temp['image-id'] = sample['cocoid']
    temp['image-path'] = os.path.join('images_mscoco_2014_5k_test', sample['filename'])

    temp['text-id'] = sample['sentids'][0]
    temp['raw-text'] = sample['raw_text'][0]

    retrieval_data.append(temp)

In [45]:
with open('/proj/vondrick4/naveen/coir-data/MSCOCO_5k/test_5k_mscoco_2014_retrieval_data.csv', 'w') as json_file:
    json.dump(retrieval_data, json_file, indent=4)